*{
  box-sizing: border-box;
  padding:0px;

}

.wrapper{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.header{
  padding: 15px;
  background-color: #D8D8DC;
}

h1{
  margin-top: 0px;
  margin-bottom: 5px;
}

h2{
  margin-top: 5px;
  margin-bottom: 0px;
}
.navbar{

}

.row{
  clear:both;
}


li{
    display: inline-block;
    background-color: #D8D8DC;
    margin-left: 5px;
    padding:3px;
    border: 1px solid black;

}
#home{
  margin-left: 0px;
}


@media only screen and(max-width:480px)  {
  .whole-s {width:100%;}
}

@media only screen and (min-width:481px){
  .third-m {width:33.3%;}
  .whole-m {width:100%;}
}

@media only screen and (min-width:1024px){
  .fourth-l {width:24.9%;}
}

@media only screen and (max-width:500px){
  .navbar {display: none;}
}

.column{
  float:left;
  padding-right:20px;
}
